html{
	width: 1500px;
	height: 4217px;
	background-color: #100F24;
		overflow-x: hidden;
}
body{
	overflow-x: hidden;
}
.index{
z-index: -1;
width: 1500px;
height: 861.99px;
}
ul{
	display: flex;
	font-family: Raleway;
	list-style-type: none;
	text-decoration: none;
}
a: link{
	text-decoration: none;
}
ul li{
		margin-left: 20px;
		font-size: 36px;
}
li a {
	color: #F70B0B;
		text-decoration: none;
}
.down{
	height: 150px;
	width:150px;
	left: 855px;
top: 1578px;
}
.opening{
	position: absolute;
	width: 793px;
	height: 186px;
	left: 54px;
  top: 321px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 72px;
	line-height: 113px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: capitalize;
	color: #FFFFFF;
}

.the-train{
	position: absolute;
width: 139px;
height: 139px;
left: 161px;
top: 458px;
animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  0%   {background-color:#FE7E2A; left: 161px; top: 458px;}
  25%  {background-color:#FE7E2A; left: 1473px; top: 450px;}
  50%  {background-color:#FE7E2A; left:200px; top:200px;}
  75%  {background-color:#FE7E2A; left:0px; top:200px;}
  100% {background-color:#FE7E2A; left:0px; top:0px;}
}
div h1{
	color:white;
	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 96px;
	line-height: 113px;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: capitalize;
	height: 119.36px;
	left: -147.96px;
	display:flex;
	flex-direction: row;
}
.p1{
	position: absolute;
	width: 1110px;
	height: 158px;
	left: 238px;
	top: 264px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 85px;
	color: #FFFFFF;
}
.p2{
	position: absolute;
	width: 841px;
	height: 107px;
	left: 135px;
	top: 338px;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
font-size: 48px;
	line-height: 113px;
	color: #FFFFFF;
}
.p3{
	flex-direction: row;
	width: 236px;
	height: 441px;
	margin-left: 221px;
	top: 445px;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 470px;
	line-height: 552px;
	color: #FE7E2A;
	text-shadow: 10px 10px 4px #F70B0B;
}
.p4{
	flex-direction: row;
	width: 341px;
	height: 132px;
	margin-left: 135px;
	margin-top:-420px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 900;
font-size: 48px;
	line-height: 113px;
	color: #FE7E2A;
}
.p5{
	position: absolute;
	width: 878px;
	height: 144px;
	left: 486px;
	top: 1102px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
font-size: 48px;
	line-height: 85px;
	color: #FE7E2A;
}
.p6{
	position: absolute;
	width: 1315px;
	height: 199px;
	left: 135px;
	top: 1330px;

	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 85px;

	color: #FFFFFF;
}
.p7{
	font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 85px;

color: #FE7E2A;

}
.p8{
	position: absolute;
	width: 140px;
	height: 215px;
	left: 559px;
	top: 1529px;

	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 85px;

	color: #FE7E2A;
}
.p9{
	position: absolute;
width: 1108px;
height: 256px;
left: 145px;
top: 1693px;

font-family: Raleway;
font-style: italic;
font-weight: 200;
font-size: 72px;
line-height: 85px;

color: #FE7E2A;
}
.p10{
	position: absolute;
width: 1113px;
height: 357px;
left: 262px;
top: 1949px;

font-family: Raleway;
font-style: italic;
font-weight: 300;
font-size: 48px;
line-height: 85px;

color: #FE7E2A;

}
.p11{
	position: absolute;
	width: 199px;
	height: 199px;
	left: 1105px;
	top: 2321px;
	background: #FE7E2A;
}
.p12{
	position: absolute;
	width: 199px;
	height: 199px;
	left: 1105px;
	top: 2321px;

}
.p13{
	position: absolute;
width: 1224px;
height: 84px;
left: 174px;
top: 2253px;

font-family: Raleway;
font-style: italic;
font-weight: 300;
font-size: 48px;
line-height: 85px;

color: #FE7E2A;
}
.op1{
	position: absolute;
	width: 900px;
	height: 284px;
	left: 250px;
	top: 597px;

	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	text-align: center;

	color: #FE7E2A;
}
.op2{
	position: absolute;
	width: 900px;
	height: 398px;
	left: 263px;
	top: 881px;

	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
font-size: 48px;
	line-height: 56px;
	text-align: center;

	color: #FE7E2A;
}
.op4{
	position: absolute;
	width: 900px;
	height: 360px;
	left: 250px;
	top: 1345px;

	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	text-align: center;

	color: #FE7E2A;
}
.ui{
	position: absolute;
width: 1616px;
height: 904px;
left: 237px;
top: 1303px;

border: 10px solid #FFFFFF;
}
.q1{
	position: absolute;
	width: 572px;
	height: 423px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 72px;
	line-height: 423px;
	color: #FE7E2A;
}
.q2{
	position: absolute;
	width: 1235px;
	height: 338px;
	left: 505px;
  top: 447px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 64px;
	line-height: 188px;
	color: #F70B0B;
}
.q3{
	position: absolute;
	left: 467px;
	top: 785px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 64px;
	line-height: 188px;
	color: #F70B0B;
}
.q4{
		position: absolute;
		left: 480px;
	top: 1128px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 64px;
	line-height: 188px;
	color: #F70B0B;
}
.q5{
	position: absolute;
width: 1382px;
height: 188px;
left: 458px;
top: 1496px;
font-family: Raleway;
font-style: italic;
font-weight: 600;
font-size: 64px;
line-height: 188px;
color: #F70B0B;
}
.q6a{
	position: absolute;
	width: 1382px;
	height: 188px;
	left: 458px;
	top: 2261px;

	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 64px;
	line-height: 188px;
	/* identical to box height */


	color: #F70B0B;
}
.q6{
	position: absolute;
	width: 1382px;
	height: 188px;
	left: 467px;
	top: 1893px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 64px;
	line-height: 188px;
	color: #F70B0B;
}
.w1{
	position: absolute;
width: 264px;
height: 2535px;
left: 91px;
top: 177px;
list-style-type: none;
background: #FE7E2A;
}
.w2{
	position: absolute;
	width: 199px;
	height: 199px;
	left: 123px;
	top: 199px;
}
.w3{
	position: absolute;
	width: 199px;
	height: 199px;
	left: 123px;
	top: 727px;
}
.w4{
	position: absolute;
	width: 199px;
	height: 199px;
	left: 123px;
	top: 1255px;
}
.w5{
	position: absolute;
width: 199px;
height: 199px;
left: 123px;
top: 1783px;
}
.w6{
	position: absolute;
	width: 199px;
	height: 199px;
	left: 123px;
	top: 2311px;
}
.w7{
	position: absolute;
width: 753px;
height: 225px;
left: 478px;
top: 258px;
font-family: Raleway;
font-style: normal;
font-weight: 100;
font-size: 48px;
line-height: 85px;
color: #FE7E2A;
}
.w8{
	position: absolute;
	width: 697px;
	height: 182px;
	left: 480px;
	top: 826px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 200;
	font-size: 48px;
	line-height: 85px;
	color: #FE7E2A;
}
.w9{
	position: absolute;
	width: 640px;
	height: 182px;
	left: 484px;
	top: 1355px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 85px;
	color: #FE7E2A;
}
.w10{
	position: absolute;
width: 658px;
height: 182px;
left: 478px;
top: 1943px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 85px;

color: #FE7E2A;
}
.w11{
	position: absolute;
	width: 744px;
	height: 182px;
	left: 467px;
	top: 2399px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 85px;
	color: #FE7E2A;
}
.w7a{
	position: absolute;
	width: 252px;
	height: 78px;
	left: 411px;
	top: 138px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 900;
	font-size: 50px;
	line-height: 85px;
	color: #FFFFFF;
}
.w8a{
	position: absolute;
	width: 320px;
	height: 78px;
	left: 411px;
	top: 732px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 85px;

color: #FFFFFF;
}
.w9a{
	position: absolute;
	width: 352px;
	height: 78px;
	left: 411px;
	top: 1255px;
font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 85px;
color: #FFFFFF;
}
.w10a{
	position: absolute;
	width: 352px;
	height: 78px;
	left: 411px;
	top: 1778px;
font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 85px;
color: #FFFFFF;
}
.w11a{
	position: absolute;
	width: 269px;
	height: 78px;
	left: 411px;
	top: 2302px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 85px;

color: #FFFFFF;
}
.a1{
	position: absolute;
	width: 654px;
	height: 74px;
	left: 30px;
	top: 1692px;

	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	text-align: right;

	color: #FFFFFF;
}
#eye{
	background:  #FE7E2A;
	position: absolute;
width: 248px;
height: 100px;
left: 791px;
top: 1796px
}
.a2{
	position: absolute;
	width: 1041px;
	height: 138px;
	left: 369px;
	top: 295px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	color: #FFFFFF;
}
.a3{
	position: absolute;
	width: 650px;
	height: 102px;
	left: 369px;
	top: 509px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	color: #FFFFFF;
}
.a4{
	position: absolute;
	width: 308px;
	height: 136px;
	left: 337px;
	top: 650px;

	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 144px;
	line-height: 169px;
	text-align: center;

	color: #FE7E2A;
}
.a5{
	position: absolute;
	width: 1180px;
	height: 90px;
	left: 574px;
	top: 695px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	color: #FE7E2A;
}
.a6{
	position: absolute;
	width: 348px;
	height: 96px;
	left: 327px;
	top: 922px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 144px;
	line-height: 169px;
	text-align: center;
	color: #FE7E2A;
}
.a7{
	position: absolute;
	width: 891px;
	height: 168px;
	left: 592px;
	top: 1057px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	color: #FE7E2A;
}
.a8{
	position: absolute;
width: 75px;
height: 172px;
left: 455px;
top: 1264px;
font-family: Raleway;
font-style: italic;
font-weight: 600;
font-size: 144px;
line-height: 169px;
color: #FE7E2A;
}
.a9{
	position: absolute;
	width: 794px;
	height: 224px;
	left: 592px;
	top: 1402px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 600;
	font-size: 48px;
	line-height: 56px;
	color: #FE7E2A;
}
.s1{
	position: absolute;
	width: 900px;
	height: 300px;
	left: 114px;
	top: 327px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 113px;
	color: #FFFFFF;
}
.s2{
	position: absolute;
	width: 1112px;
	height: 156px;
	left: 37px;
	top: 734px;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 113px;
	color: #FFFFFF;
}
.s3{
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 169px;
	color: #FE7E2A;
}
.s4{
	position: absolute;
	width: 760px;
	height: 225px;
	left: 307px;
	top: 915px;
	background: #FE7E2A;

}
.s4a{
	position: absolute;
	left: 419px;
	top: 997px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 113px;
	color: #FFFFFF;
}
.s5{
	position: absolute;
	width: 1112px;
	height: 156px;
	left: 37px;
	top: 1373px;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 169px;
	color: #FE7E2A;
}
.s6{
	position: absolute;
	width: 1324px;
	height: 184px;
	left: 417px;
	top: 1508px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 113px;

	color: #FFFFFF;
}
.s7{
	position: absolute;
	width: 753px;
	height: 169px;
	left: 35px;
	top: 2012px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 800;
	font-size: 64px;
	line-height: 169px;
	color: #FE7E2A;
}
.s8{
	position: absolute;
	width: 1324px;
	height: 184px;
	left: 417px;
	top: 2310px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 113px;
	color: #FFFFFF;
}
.s9{
	position: absolute;
	width: 676px;
	height: 149px;
	left: 37px;
	top: 2664px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	line-height: 169px;
	color: #FE7E2A;
}
.s10{
	position: absolute;
	width: 1324px;
	height: 184px;
	left: 412px;
	top: 2942px;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 113px;
	color: #FFFFFF;
}
.i1{
	position: absolute;
	width: 1096px;
	height: 176px;
	left: 129px;
	top: 241px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 300;
	font-size: 64px;
	line-height: 85px;
	color: #FFFFFF;
}
.i2{
	position: absolute;
	width: 1456px;
	height: 128px;
	left: 257px;
	top: 473px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 300;
	font-size: 48px;
	line-height: 85px;
	color: #FFFFFF;
}
.i3{
	position: absolute;
	width: 900px;
	height: 249px;
	left: 257px;
	top: 657px;
	font-family: Raleway;
	font-style: italic;
	font-weight: normal;
	font-size: 48px;
	line-height: 85px;
	color: #FFFFFF;
}
.i4{
	position: absolute;
	width: 900px;
	height: 435px;
	left: 257px;
	top: 1067px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 500;
	font-size: 48px;
	line-height: 85px;
	color: #FFFFFF;
}
.i5{
	position: absolute;
	width: 1080px;
	height: 123px;
	left: 257px;
	top: 1631px;
	font-family: Raleway;
	font-style: italic;
	font-weight: 800;
	font-size: 48px;
	line-height: 85px;
color: #FFFFFF;
}
.i6{
	font-family: Raleway;
	font-style: italic;
	font-weight: 800;
	font-size: 48px;
	line-height: 85px;
	color: #FE7E2A;
}
.i7{
	position: absolute;
width: 780px;
height: 168px;
left: 427px;
top: 1928px;

font-family: Raleway;
font-style: italic;
font-weight: 800;
font-size: 64px;
line-height: 85px;
text-align: center;

color: #FE7E2A;
}
.i8{
	position: absolute;
width: 796px;
height: 144px;
left: 257px;
top: 2192px;

font-family: Raleway;
font-style: italic;
font-weight: 800;
font-size: 64px;
line-height: 85px;

color: #FE7E2A;
}
.i9{
	position: absolute;
width: 778px;
height: 96px;
left: 596px;
top: 2465px;

font-family: Raleway;
font-style: italic;
font-weight: 800;
font-size: 64px;
line-height: 85px;

color: #FE7E2A;
}
