
html{
	position: relative;
	overflow-x: hidden;
	background: #000000;
	background-image: url('../Images/swbf2.jpg');
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position:center top;
}
.spec{
	 width: 1440px;
height: 7349px;
}
body{
	width: 1440px;
	height: 4198px;
}
.nav1{
	position: absolute;
width: 617px;
height: 203px;
left: 76px;
top: 51px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
ul{
	position: absolute;
width: 186px;
height: 45px;
left: 696px;
top: 107px;
display:flex;
list-style-type:none;
font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #FFFFFF;

}
ul li{
	margin-left:20px;
}
li a:link{
	color:white;
}
li a:visited{
	color:white;
}

.nav5{
	position: absolute;
width: 304px;
height: 58px;
left: 888px;
top: 180px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;

}
.nav6{
	position: absolute;
width: 352px;
height: 164px;
left: 1110px;
top: 236px;

}
.st0{
	stroke: white;
	stroke-width:6px;
	animation: animate 3s linear;
	stroke-dasharray:3200;
	width:200px;
	height:300px;
	animation-fill-mode: forwards;
	fill:none;
}
@keyframes animate{
	from{
		stroke-dashoffset:3200;
	}
	to{
		stroke-dashoffset:20;
		
	}
		
}
.o1{
position: absolute;
width: 100%;
height: auto;
left: 0px;
top: 388px;
}
.o1 p{
	position: absolute;
width: 668px;
height: 132px;
left: 727px;
top: 584px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}
.o2{
	position: absolute;
width: 668px;
height: 132px;
left: 727px;
top: 584px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}
.o3{
	position: absolute;
width: 1168px;
height: 514px;
left: 145px;
top: 1273px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 56px;
text-align: center;

color: #FFFFFF;

}
.o4{
	position: absolute;
width: 1139px;
height: 56px;
left: 159px;
top: 1847px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}
.o5a{
position: absolute;
width: 200px;
height: 44px;
left: 94px;
top: 2023px;
color: #FFFFFF;
}
.o5{
	position: absolute;
width: 346px;
height: 194px;
left: 94px;
top: 2076px;
}
.024{
	position: absolute;
width: 468px;
height: 614px;
left: 500px;
top: 3469px;
}
.o6{
	position: absolute;
width: 200px;
height: 44px;
left: 534px;
top: 2023px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
.o7{
	position: absolute;
width: 336px;
height: 189px;
left: 534px;
top: 2076px;

}
.o8{
	position: absolute;
width: 200px;
height: 44px;
left: 965px;
top: 2023px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
.o9{
	position: absolute;
width: 381px;
height: 189px;
left: 965px;
top: 2076px;

}
.o10{
	position: absolute;
width: 200px;
height: 44px;
left: 97px;
top: 2357px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
.o11{
	position: absolute;
width: 331px;
height: 186px;
left: 94px;
top: 2415px;
}
.o12{
	position: absolute;
width: 200px;
height: 44px;
left: 534px;
top: 2357px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
.o13{
	position: absolute;
width: 338px;
height: 190px;
left: 534px;
top: 2415px;

}
.o14{
	position: absolute;
width: 200px;
height: 44px;
left: 981px;
top: 2357px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
.o15{
position: absolute;
width: 340px;
height: 190px;
left: 973px;
top: 2415px;
}
.o16{
	position: absolute;
width: 200px;
height: 44px;
left: 94px;
top: 2649px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}
.o17{
position: absolute;
width: 344px;
height: 193px;
left: 97px;
top: 2709px;

}
.o18{
	position: absolute;
width: 200px;
height: 44px;
left: 536px;
top: 2645px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
.o19{
	position: absolute;
width: 343px;
height: 193px;
left: 536px;
top: 2709px;
}
.o20{
	position: absolute;
width: 200px;
height: 44px;
left: 974px;
top: 2649px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

}
.o21{
	position: absolute;
width: 343px;
height: 193px;
left: 974px;
top: 2709px;

}
.o22{
	position: absolute;
width: 859px;
height: 104px;
left: 356px;
top: 3001px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.o23{
position: absolute;
width: 1083px;
height: 609px;
left: 230px;
top: 3111px;

	
}
.n2{
position: absolute;
width: 1036px;
height: 178px;
left: 240px;
top: 1237px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}
.n3{
	position: absolute;
width: 587px;
height: 264px;
left: 160px;
top: 1705px;

}
.n4{
	position: absolute;
width: 449px;
height: 92px;
left: 769px;
top: 1705px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;

}
.n5{
position: absolute;
width: 643px;
height: 106px;
left: 769px;
top: 1797px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.n6{
	position: absolute;
width: 587px;
height: 307px;
left: 160px;
top: 2092px;

}
.n7{
position: absolute;
width: 420px;
height: 48px;
left: 769px;
top: 2092px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;;
}
.n8{
	position: absolute;
width: 779px;
height: 284px;
left: 769px;
top: 2171px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.n9{
position: absolute;
width: 551px;
height: 258px;
left: 160px;
top: 2532px;
}
.n10{
position: absolute;
width: 444px;
height: 72px;
left: 747px;
top: 2532px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.n11{
position: absolute;
width: 805px;
height: 169px;
left: 747px;
top: 2621px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;

}
.n12{
	position: absolute;
width: 551px;
height: 311px;
left: 160px;
top: 2923px;
}
.n13{
	position: absolute;
width: 444px;
height: 72px;
left: 741px;
top: 2923px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.n14{
	position: absolute;
width: 965px;
height: 128px;
left: 747px;
top: 3034px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.a1{
	position: absolute;
width: 1274px;
height: 210px;
left: 140px;
top: 362px;
font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #FFFFFF;
}
.a2{
	position: absolute;
width: 1746px;
height: 982px;
left: -128px;
top: 614px;
}
.a3{
	position: absolute;
width: 500px;
height: 104px;
left: 79px;
top: 1854px;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;
}
.a4{
	position: absolute;
width: 586px;
height: 250px;
left: 79px;
top: 1994px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}
.a5{
	position: absolute;
width: 735px;
height: 414px;
left: 696px;
top: 1865px;
}
.a6{
	position: absolute;
width: 738px;
height: 415px;
left: 60px;
top: 2537px;
}
.a6a{
	position: absolute;
width: 566px;
height: 276px;
left: 834px;
top: 2537px;

font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.a7{
	position: absolute;
width: 1120px;
height: 630px;
left: 176px;
top: 3435px;

}
.a8{
	position: absolute;
width: 1251px;
height: 298px;
left: 70px;
top: 2994px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.a9{
position: absolute;
width: 1174px;
height: 588px;
left: 176px;
top: 4246px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}
.c1{
	position: absolute;
width: 1876px;
height: 155px;
left: -247px;
top: 480px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #FFFFFF;
}
.c2{
position: absolute;
width: 548px;
height: 100px;
left: -100px;
top: 683px;
list-style-type:none;
font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #FFFFFF;
}
.c3{
	position: absolute;
width: 936px;
height: 474px;
left: 397px;
top: 683px;
}
.c4{
position: absolute;
width: 548px;
height: 100px;
left: 210px;
top: 1214px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;

}
.c5{
	position: absolute;
width: 1056px;
height: 301px;
left: 277px;
top: 1314px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;

}
.c6{
position: absolute;
width: 936px;
height: 474px;
left: 277px;
top: 1769px;

}
.c7{
position: absolute;
width: 548px;
height: 100px;
left: 210px;
top: 2304px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;

	
}
.c7a{
	position: absolute;
width: 1056px;
height: 301px;
left: 277px;
top: 2412px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;

}
.c8{
	position: absolute;
width: 936px;
height: 474px;
left: 266px;
top: 697px;
}
.c9{
	position: absolute;
width: 1876px;
height: 155px;
left: -218px;
top: 497px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #FFFFFF;
}
.c10{
	position: absolute;
width: 936px;
height: 474px;
left: 277px;
top: 2833px;

}
.c11{
	position: absolute;
width: 548px;
height: 100px;
left: 210px;
top: 3381px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}
.c11a{
	position: absolute;
width: 1056px;
height: 301px;
left: 277px;
top: 3476px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.c12{
	position: absolute;
width: 936px;
height: 474px;
left: 277px;
top: 3897px;
}
.c13{
	position: absolute;
width: 548px;
height: 100px;
left: 210px;
top: 4457px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}
.c14{
	position: absolute;
width: 1056px;
height: 301px;
left: 277px;
top: 4557px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;

}
.i1{
	position: absolute;
width: 1625px;
height: 143px;
left: -82px;
top: 347px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #FFFFFF;

}
.i2{
	position: absolute;
width: 1718px;
height: 863px;
left: -12px;
top: 558px;
}
.i3{
	position: absolute;
width: 560px;
height: 99px;
left: 983px;
top: 981px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 85px;

color: #FFFFFF;
}
.i4{
	position: absolute;
width: 649px;
height: 203px;
left: 65px;
top: 1421px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.i5{
	position: absolute;
width: 314px;
height: 46px;
left: 609px;
top: 1489px;

font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #FFFFFF;
}
.i6{
	position: absolute;
width: 186px;
height: 45px;
left: 923px;
top: 1489px;

font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #FFFFFF;
}
.i7{
	position: absolute;
width: 227px;
height: 45px;
left: 1130px;
top: 1488px;

font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #FFFFFF;

}
.i8{
position: absolute;
width: 676px;
height: 379px;
left: 92px;
top: 1970px;


}
.i8a{
	position: absolute;
width: 591px;
height: 62px;
left: 65px;
top: 1749px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.i8b{
	position: absolute;
width: 589px;
height: 45px;
left: 60px;
top: 1868px;

font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;

}
.i9{
	position: absolute;
width: 759px;
height: 45px;
left: 895px;
top: 1868px;

font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 42px;

color: #FFFFFF;
}
.i10{
	position: absolute;
width: 722px;
height: 379px;
left: 902px;
top: 1970px;
}
.i11{
	position: absolute;
width: 620px;
height: 62px;
left: 65px;
top: 2663px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.i12{
	position: absolute;
width: 1698px;
height: 888px;
left: 0px;
top: 2788px;

}
.i13{
	position: absolute;
width: 560px;
height: 80px;
left: 847px;
top: 3152px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 75px;
text-align: right;

color: #FFFFFF;
}
.i14{
	position: absolute;
width: 1926px;
height: 975px;
left: -27px;
top: 3676px;
}
.i15{
	position: absolute;
width: 551px;
height: 80px;
left: 847px;
top: 4264px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 75px;
text-align: right;

color: #FFFFFF;
}
.i16{
	position: absolute;
width: 784px;
height: 62px;
left: 65px;
top: 4787px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}
.i17{
position: absolute;

left: 65px;
top: 4985px;
}
.i18{
	position: absolute;
left: 901px;
top: 4985px;
}