//animations
$animation-fade:color .3s ease;
//border radius
$border-curve:10px;
//colors
$color-dark:#0F1426;
$color-dark-transparent:rgba(15,20,38,.7);
$color-light:#D9D6CB;
$color-accent:#FF8126;
//font size
$fontSize-h1:200px;
$fontSize-h2:60px;
$fontSize-h3:40px;
$fontSize-p:60px;
$fontSize-list: 40px;
//font family
$fontFamily-decorative:"NimitzRough",Serif;
$fontFamily-body:"PlayenSans",serif;
//background images
$image-background:url("/images/headerImage.jpg");
