footer
    div(id="footerContent")
        p Site Menu
        ul
            li 
                a(href="/") Reptile Collection
            li 
                a(href="/displayblogs") Our Blogs
            li
                a(href='/test') Survey
    div(id="socials")
        p Socials
        a(href="https://www.facebook.com/reptilliant")
            image(src="/images/facebook.svg" alt="facebook")
    p(id="disclaimer") This website is for educational purposes only, and should not be used as a substitute for professional care. Reptilliant was created by 4 students as a senior capstone project, all information displayed here was obtained through hands-on experience and traditional research.
    p &copy; 2022 Reptiliant