head
    title Reptilliant | Care Sheets
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
    include includes/header.pug
    h2 Species Name
    nav
        li
            a(href="#") Habitat
        li
            a(href="#") Food
        li
            a(href="#") Light Sources
        li
            a(href="#") Heat Lamps
        li
            a(href="#") Decor
    h3 Habitat
    button View Product 
    h3 Food
    button View Product 
    h3 LightSource
    button View Product 
    h3 Heat Lamps
    button View Product 
    h3 Decor
    button View Product
    include includes/footer.pug
