Login to edit/add new Articles
form(method='POST' action='/adminArticle')
  label Username--
  input(type ="text" name="username")
  br
  br
  label password--
  input(type="text" name="password")
  br
  br
  input(type="submit" name="submit")
