head
    title Reptilliant | Reptile Survey
    link(rel="stylesheet" href="/css/styles.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
body(id="reptSurvey")
    h1 How many square feet do you have?
    div
        button Answer Choice 1
        button Answer Choice 2
        button Answer Choice 3